.ball{
    width:320px;
    height:320px;
    background-image:
      radial-gradient(
        circle at top right,
        #f232fe,
        #f9b4fd
      );
    border-radius:50%;
    margin:0 auto;
    border: 15px solid #290333;
    transform:translateY(80px);
    position:relative;
    z-index:2;
  }
  
  .bright{
    border-radius:50%;
    height:220px;
    width:240px;
    margin-top:-180px;
    margin-left:66px;
    position:absolute;
    opacity:.3;
    background-color:#fec7fe;
  }
  
  .name{
    text-align:center;
    margin-top:140px;
    font-size:37px;
    position:relative;
    font-family: 'Exo', sans-serif;
    color:#fff;
  }
  
  .step{
    width:350px;
    height:30px;
    background-color:Red;
    margin: 0 auto;
    border-top-right-radius:20px;
    border-top-left-radius:20px;
    border: 15px solid #290333;
    position:relative;
    z-index:2;
  }
  
  .first{
    border-bottom:0;
  }
  
  .second{
    width:400px;
    height:40px;
  }
  
  .second .square div{
    height:20px;
  }
  
  .step .square{
    display:inline-block;
    width:50%;
  }
  
  .square div{
    width:100%;
    height:15px;
  }
  
  .bottom{
    text-align:center;
    transform:translateY(-15px);
  }
  
  .bottom1{
    width:15px;
    height:15px;
    border-radius:50%;
    background-color:#290333;
    display:inline-block;
  }
  
  .bottom2{
    width:695px;
    border-radius:10px;
    margin-left:10px;
    height:15px;
    background-color:#290333;
    display:inline-block;
  }
  
  .bottom3{
    width:205px;
    border-radius:10px;
    margin-left:10px;
    height:15px;
    background-color:#290333;
    display:inline-block;
  }
  
  .cristalBall{
    width: 100%;
    margin: auto;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    z-index:99999;
  }
  
  .background{
    background-color:white;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
  }
  
  .circle{
    background-color:#fffdff;
    height:1300px;
    border-radius:50%;
    width: 1300px;
    margin: auto;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
  }
  
  .circle1{
    background-color:#fcefff;
    height:1000px;
    border-radius:50%;
    width: 1000px;
    margin: auto;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    animation: pulse3 10s linear infinite;
  }
  
  .circle2{
    background-color:#f3cafc;
    height:700px;
    border-radius:50%;
    width: 700px;
    margin: auto;
    position: absolute;
    top: 50%; left: 50%;
    color:white;
    font-size:40px;
    transform: translate(-50%,-50%);
    animation: pulse 4s linear infinite;
  }
  
  .circle3{
    background-color:#ee88fd;
    height:500px;
    border-radius:50%;
    width: 500px;
    margin: auto;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    font-size:50px;
    animation: pulse2 3s linear infinite;
  }
  
  .star{
    transform: translate(350px,50px);
    opacity:.6;
  }
  
  .table{
    height:1000px;
    width:100%;
    background-color:#fff;
    opacity:1;
    position:fixed;
    transform: translate(0px,-19px);
  }
  
  @keyframes pulse{
    0%{width:700px;height:700px;}
    50%{width:750px;height:750px;}
    100%{width:700px;height:700px;}
  }
  
  @keyframes pulse2{
    0%{width:500px;height:500px;}
    50%{width:550px;height:550px;}
    100%{width:500px;height:500px;}
  }
  
  @keyframes pulse3{
    0%{width:1000px;height:1000px;}
    50%{width:1050px;height:1050px;}
    100%{width:1000px;height:1000px;}
  }

*{
    box-sizing:border-box;
}

html,body{
    width:100%;
    height:100%;
}

body{
    margin:0;
    overflow:hidden;
    background:#222;
    font-family: monospace;
}
h1{
    margin-top:0;
}

button{
    font-family: monospace;
    border:2px solid tomato;
    background:transparent;
    width:250px;
    font-size:1.2em;
    padding : 10px 0;
    border-radius:5px;
    display:block;
  cursor:pointer;
    margin:1em auto;
}
article{
    width:80%;
    margin:auto;
    font-size:2em;
    top:50%;
    position:relative;
    transform:translateY(-50%);
}